/*SECTIONS*/

body{
    margin:0;
}

header {
  color:white;
  background-image: url("images/image.jpg");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  padding:50px;
  height: 100vh; 
}

#overview {
 background-color: white;
 color:#222121; 
 padding: 50px;
}

#visualization {
  color:#222121; 
  padding:10px 50px 10px 50px; 
}

#visualization2 {
   color:#222121; 
   padding: 50px;
 }

footer {
  background-color: #015059;
  color: white; 
  padding: 50px;
}

img{ 
  width: 100%;
  height: auto;
}


/*TYPOGRAPHY*/

h1 {
   font-family: 'Source Code Pro', sans-serif; 
   font-weight: 700; 
   font-size: 50px; 
   /* margin-bottom: -8px;   */
}

p{    
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 20px; 
}

.footerText{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px; 
}

/*LINKS*/

a:hover {
  color: #339999;
}

nav a {
    text-decoration: none; 
    font-family: 'Source Code Pro', sans-serif; 
    font-size: 14px;  
    font-weight: 400; 
    color:white; 
    transition: font-size 2s linear 1s;
    margin: 3px;
}

footer a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;  
    color:white; 
}

/*FLEXBOXES*/

.headerStyle {
  display: flex;
  justify-content: space-between; 
  flex-direction: row; 
  align-items: center; 
}

nav {
    align-self: flex-start; 
    justify-content: space-between;   
}

/*RESPONSIVE*/

@media (max-width: 400px) {

}